<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GetHTMLTags.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDFAA13F1F0B7B13000468C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDFAA1581F0B7B14000468C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDFAA1631F0B7B14000468C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
